.logo {
  border-radius: var(--border-radius);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  gap: var(--spacing-md);
  background: transparent;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(90deg, rgb(0, 0, 0, 0.5));
    pointer-events: none;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  img {
    width: 42px;
    height: 42px;
    object-fit: contain;
  }
}
