.searchBarForm {
  margin: 0 auto;
}
.searchBar {
  border: 3px solid red;
  width: clamp(200px, 30vw, 500px);
  background-image: url(src/assets/Search.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 8px center;
  padding: var(--spacing-xsm);
  padding-left: 40px;
}
