.mainWeather {
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0, 0.6) 0%,
    rgb(58, 64, 64, 0.1) 100%
  );
}
